<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--- Tops -->
    <add key="l2jbrasil" value="l2draco"/>
    <add key="topmmo" value="a4ee904d2f22f841"/>
    
    <!--- Rewards -->
    <add key="items" value="3470"/>
    <add key="quantidade" value="1"/>

    <!--- Configuração Banco de Dados -->
    <add key="host" value="127.0.0.1"/>
    <add key="porta" value="3306"/>
    <add key="database" value="l2jserver"/>
    <add key="user" value="root"/>
    <add key="senha" value="123"/>
  </appSettings>
</configuration>