<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--- Tops que possuem API's de Validacao -->
    <!-- Atenção: Somente informe se deseja utilizar estes TOP's para validar os Votos. 
       Em caso de não informar, o Vote System não vai validar em nenhum, mas vai validar se o usuario já recebeu o reward no dia. -->
    <add key="l2jbrasil" value="l2draco"/> <!-- nome do servidor na l2jbrasil ex: l2draco, url onde se encontra: https://top.l2jbrasil.com/index.php?a=in&u=l2draco -->
    <add key="topmmo" value=""/> <!-- Sua chave do topmmo ex: k09e924db49b12d1 url onde se encontra: https://mmotop.eu/l2/data/k09e924db49b12d1 -->

    <!--- Nome do Servidor -->
    <add key="nomeServidor" value="Lineage 2"/>
    
    <!--- Configurações Reward por Quantidade de Votos -->
    <add key="rewardsPorQuantidadeVotos" value="true"/> <!-- true = sim | false = não -->
    
    <!--- Configuração Banco de Dados -->
    <add key="host" value="127.0.0.1"/> <!-- IP do servidor (MySql/MariaDB) -->
    <add key="porta" value="3306"/> <!-- Porta (MySql/MariaDB) -->
    <add key="database" value="l2jserver"/> <!-- Nome banco de dados -->
    <add key="user" value="root"/> <!-- Usuario banco de dados -->
    <add key="senha" value="123456"/> <!-- Senha do banco de dados -->
  </appSettings>
</configuration>